# 01 Import Library

In [62]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02 Import Data

In [97]:
#import movie_datase.csv
df_movie_dataset = pd.read_csv(r'/Users/elenasharavara/Documents/movie_dataset.csv',index_col = False)

In [98]:
path = '/Users/elenasharavara/Documents'

# 03 Data Cleaning and Wrangling

In [99]:
df_movie_dataset.shape

(934745, 23)

In [100]:
df_movie_dataset.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili"
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,en,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin"
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish"
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian"

In [101]:
#dropping columns
df_movie_dataset = df_movie_dataset.drop(columns = ['backdrop_path'])

In [102]:
df_movie_dataset = df_movie_dataset.drop(columns = ['poster_path'])

In [103]:
df_movie_dataset = df_movie_dataset.drop(columns = ['overview'])

In [104]:
df_movie_dataset = df_movie_dataset.drop(columns = ['tagline'])

In [105]:
df_movie_dataset = df_movie_dataset.drop(columns = ['homepage'])

In [106]:
df_movie_dataset = df_movie_dataset.drop(columns = ['imdb_id'])

In [107]:
df_movie_dataset = df_movie_dataset.drop(columns = ['original_title'])

In [108]:
df_movie_dataset.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,original_language,popularity,genres,production_companies,production_countries,spoken_languages
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,160000000,en,83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili"
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,165000000,en,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,185000000,en,130.643,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin"
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,237000000,en,79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish"
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,220000000,en,98.082,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian"

In [109]:
df_movie_dataset.shape

(934745, 16)

In [110]:
#check for missing values
df_movie_dataset.isnull().sum()

id                           0
title                       11
vote_average                 0
vote_count                   0
status                       0
release_date             84528
revenue                      0
runtime                      0
adult                        0
budget                       0
original_language            0
popularity                   0
genres                  328991
production_companies    477871
production_countries    362314
spoken_languages        356693
dtype: int64

In [136]:
df_movie_dataset.describe()

,film_id,vote_average,vote_count,revenue,runtime,budget,popularity
count,9.347450e+05,934745.000000,934745.000000,9.347450e+05,934745.000000,9.347450e+05,934745.000000
mean,6.223389e+05,2.232957,22.939624,7.782203e+05,51.889123,3.061706e+05,1.424210
std,3.331466e+05,3.152949,351.094674,1.798041e+07,62.425681,5.058921e+06,8.349914
min,2.000000e+00,0.000000,0.000000,-1.200000e+01,0.000000,0.000000e+00,0.000000
25%,3.509120e+05,0.000000,0.000000,0.000000e+00,2.000000,0.000000e+00,0.600000
50%,6.251880e+05,0.000000,0.000000,0.000000e+00,39.000000,0.000000e+00,0.600000
75%,9.122350e+05,5.294000,1.000000,0.000000e+00,90.000000,0.000000e+00,0.958000
max,1.185198e+06,10.000000,34495.000000,2.923706e+09,14400.000000,8.880000e+08,2994.357000

In [137]:
#check value counts for 'runtime' as the max value was suspicious
df_movie_dataset['runtime'].value_counts()

0      222746
90      27611
10      14497
7       13324
5       13199
        ...
495         1
885         1
746         1
522         1
605         1
Name: runtime, Length: 701, dtype: int64

In [138]:
#Replace 14400 to 144
df_movie_dataset['revenue'].replace({14400 : 144}, inplace = True)

In [112]:
#check for mixed types
for col in df_movie_dataset.columns.tolist():
  weird = (df_movie_dataset[[col]].applymap(type) != df_movie_dataset[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_movie_dataset[weird]) > 0:
    print (col)

title
release_date
genres
production_companies
production_countries
spoken_languages

In [86]:
#Change data type to string
df_movie_dataset['genres'] = df_movie_dataset['genres'].astype('str')

In [87]:
df_movie_dataset['production_companies'] = df_movie_dataset['production_companies'].astype('str')

In [88]:
df_movie_dataset['production_countries'] = df_movie_dataset['production_countries'].astype('str')

In [89]:
df_movie_dataset['spoken_languages'] = df_movie_dataset['spoken_languages'].astype('str')

In [113]:
df_movie_dataset['title'] = df_movie_dataset['title'].astype('str')

In [114]:
df_movie_dataset['release_date'] = df_movie_dataset['release_date'].astype('str')

In [115]:
# Create a subset, df_nan, to view missing values in a 'genres' column
df_movie_dataset_nan = df_movie_dataset[df_movie_dataset['genres'].isnull() == True]

In [116]:
df_movie_dataset_nan

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,original_language,popularity,genres,production_companies,production_countries,spoken_languages
6010,320367,Return,6.223,551,Released,2015-01-01,0,0,False,0,en,4.037,NaN,NaN,NaN,NaN
7684,916035,Barely Legal Baby Fat,6.792,384,Released,2008-06-26,0,90,True,0,en,5.400,NaN,Hustler Video,NaN,English
8581,50472,Anplagghed al cinema,7.000,322,Released,2006-11-26,0,95,False,0,it,4.844,NaN,NaN,Italy,Italian
9778,464446,Return,6.237,264,Released,2015-07-04,0,15,False,0,en,6.767,NaN,NaN,New Zealand,English
10562,292141,The Right of Youth,6.587,235,Released,1911-01-02,0,24,False,0,en,5.411,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
934734,657040,Chasing Trouble,0.000,0,Released,1926-05-02,0,50,False,0,en,0.600,NaN,Universal Pictures,United States of America,NaN
934735,657042,City,0.000,0,Released,1985-01-01,0,17,False,0,en,0.600,NaN,NaN,NaN,NaN
934738,657048,Untitled 1985,0.000,0,Released,1985-01-01,0,6,False,0,en,0.600,NaN,NaN,NaN,NaN
934741,657052,The Escape,0.000,0,Released,1926-06-06,0,50,False,0,en,0.600,NaN,Universal Pictures,United States of America,NaN
934744,657037,Meeting My Daughter,0.000,0,Released,2001-11-15,0,0,False,0,en,0.600,NaN,NaN,NaN,NaN

In [127]:
# Check for full duplicates
df_movie_dataset_dups = df_movie_dataset[df_movie_dataset.duplicated()]

In [128]:
df_movie_dataset_dups

Empty DataFrame
Columns: [film_id, film_title, vote_average, vote_count, status, release_date, revenue, runtime, adult, budget, original_language, popularity, genres, production_companies, production_countries, spoken_languages]
Index: []

In [129]:
#Rename columns
df_movie_dataset.rename(columns = {'id' : 'film_id'}, inplace = True)

In [130]:
df_movie_dataset.rename(columns = {'title' : 'film_title'}, inplace = True)

In [131]:
#checking data type
df_movie_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934745 entries, 0 to 934744
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   film_id               934745 non-null  int64
 1   film_title            934745 non-null  object
 2   vote_average          934745 non-null  float64
 3   vote_count            934745 non-null  int64
 4   status                934745 non-null  object
 5   release_date          934745 non-null  object
 6   revenue               934745 non-null  int64
 7   runtime               934745 non-null  int64
 8   adult                 934745 non-null  bool
 9   budget                934745 non-null  int64
 10  original_language     934745 non-null  object
 11  popularity            934745 non-null  float64
 12  genres                605754 non-null  object
 13  production_companies  456874 non-null  object
 14  production_countries  572431 non-null  object
 15  spoken_languages      578052 non-null  object
dtypes: bool(1), float64(2), int64(5), object(8)
memory usage: 107.9+ MB

In [141]:
df_movie_dataset.head(10)

,film_id,film_title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,original_language,popularity,genres,production_companies,production_countries,spoken_languages
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,160000000,en,83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili"
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,165000000,en,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,185000000,en,130.643,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin"
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,237000000,en,79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish"
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,220000000,en,98.082,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian"
5,293660,Deadpool,7.606,28894,Released,2016-02-09,783100000,108,False,58000000,en,72.735,"Action, Adventure, Comedy","20th Century Fox, The Donners' Company, Genre ...",United States of America,English
6,299536,Avengers: Infinity War,8.255,27713,Released,2018-04-25,2052415039,149,False,300000000,en,154.340,"Adventure, Action, Science Fiction",Marvel Studios,United States of America,"English, Xhosa"
7,550,Fight Club,8.438,27238,Released,1999-10-15,100853753,139,False,63000000,en,69.498,Drama,"Regency Enterprises, Fox 2000 Pictures, Taurus...",United States of America,English
8,118340,Guardians of the Galaxy,7.906,26638,Released,2014-07-30,772776600,121,False,170000000,en,33.255,"Action, Science Fiction, Adventure",Marvel Studios,United States of America,English
9,680,Pulp Fiction,8.488,25893,Released,1994-09-10,213900000,154,False,8500000,en,74.862,"Thriller, Crime","Miramax, A Band Apart, Jersey Films",United States of America,"English, Spanish, French"

# 04 Saving and Exporting DF

In [143]:
# saving and exporting DF
df_movie_dataset.to_csv(os.path.join(path,'02 Data','Prepared data', 'movie_dataset.csv'))

### Observations of df_contract

The max value for 'runtime' is 14400 min. I believe this is a typo for 144 min, so I changed the value.

There are 11 missing or NaN values for 'title', 84528 for 'release_date', 328991 for 'genres', 477871 for 'production_companies', 362314 for 'production_countries', 356693 for 'spoken_languages'. We need to clarify with the customer which information is important.

Renamed 'id' to 'film_id'
 
Renamed 'title' to 'film_title'
7 columns were dropped 'original_title', 'backdrop_path', 'poster_path', 'overview', 'tagline', 'imdb_id','homepage'